<!-- Start Section Footer -->
<div class="footer">
  <div class="container-fluid">
      <div class="content">
          <div class="row">
              <div class="col-md-4">
                  <div class="content-top">
                      <p class="main-p">Main Menu</p>
                      <div class="row">
                          <div class="col-sm-6">
                              <p>HOME</p>
                              <p>Occasions</p>
                              <p>Offer</p>
                          </div>

                          <div class="col-sm-6">
                              <p>Cake</p>
                              <p>Occasions</p>
                              <p>Offer</p>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="content-center text-center">
                      <p class="main-p">Our Social Media</p>
                      <div class="content-social">
                          <img src="../../assets/icon-contactus/messenger.png" alt="">
                          <img src="../../assets/icon-contactus/instagram.png" alt="">
                          <img src="../../assets/icon-contactus/watsapp.png" alt="">
                          <img src="../../assets/icon-contactus/facebook.png" alt="">
                      </div>
                      <p>Copyright &copy; 2020 ChouxKate. All Rights Reserved.</p>
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="content-bottom">
                      <p>Terms of Use</p>
                      <p>Privacy Policy</p>
                  </div>
              </div>
          </div>
          <div class="content-image">
              <img src="../../assets/logo.png" alt="">
          </div>
      </div>

  </div>
  <img class="all-footer" src="../../assets/footer.png" alt="">
</div>
<!-- End Section Footer -->
