<section class="center">
  <!-- Start Section Navbar -->
  <nav style="z-index: 9999999999;" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
      <div class="container-fluid">
          <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img src="../../assets/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
              <ul class="navbar-nav yy w-100 justify-content-center">
                  <li class="nav-item active">
                      <a style="cursor: pointer;" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item" (click)="occasions()">
                      <a style="cursor: pointer;" class="nav-link">Occasions</a>
                  </li>
                  <li class="nav-item" (click)="offers()">
                      <a style="cursor: pointer;" class="nav-link">Offers</a>
                  </li>
                  <li class="nav-item" (click)="menu()">
                      <a style="cursor: pointer;" class="nav-link">Cake</a>
                  </li>
                  <li class="nav-item" (click)="testimonials()">
                      <a style="cursor: pointer;" class="nav-link">Testimonial</a>
                  </li>
                  <li class="nav-item" (click)="contact()">
                      <a style="cursor: pointer;" class="nav-link">Contact us</a>
                  </li>
              </ul>
              <ul class="nav navbar-nav yy ml-auto w-100 justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link serr" style="cursor: pointer;"><img src="../../assets/search.png" alt=""></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"><img src="../../assets/number-img.png" alt=""> 0664525783</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- End Section Navbar -->

  <!-- Start Section Header -->
  <div class="header">
      <div class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                      <div class="content-top">
                          <h2>Pastry & Cake Company</h2>
                          <p class="one">ChouxKate pâtisserie : un coin de paradis pour les passionnés de la pâtisserie</p>
                          <p class="two">ChouxKate : toujours à votre disposition à toutes les circonstances.</p>
                          <button>Read More</button>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="content-img">
                          <img src="../../assets/header.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Section Header -->
</section>
