<!-- Start Section Occasions -->
<div class="Occasions text-center" id="occasions">
  <div class="container">
      <h3>Enjoy your Private Celebrations with us!</h3>
      <div class="conent-logo2 text-center">
          <img src="../../assets/important.PNG" alt="">
      </div>
      <div class="slider">

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card" style="width: 20rem; margin: auto">
              <img class="card-img-top" src="../../assets/caKe/wedding cake.PNG" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Wedding Cake</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed  nonumy eirmod tempor invidunt</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
          </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card" style="width: 20rem; margin: auto">
              <img class="card-img-top" src="../../assets/caKe/birthday cake.PNG" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Birthday Cake</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed  nonumy eirmod tempor invidunt</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card" style="width: 20rem; margin: auto">
              <img class="card-img-top" src="../../assets/caKe/shower cake.PNG" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">a Shower Cake</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed  nonumy eirmod tempor invidunt</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card" style="width: 20rem; margin: auto">
              <img class="card-img-top" src="../../assets/caKe/wedding cake.PNG" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Wedding Cake</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed  nonumy eirmod tempor invidunt</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card" style="width: 20rem; margin: auto">
              <img class="card-img-top" src="../../assets/caKe/shower cake.PNG" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">a Shower Cake</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed  nonumy eirmod tempor invidunt</p>
                  <a href="#" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </ng-template>
      </owl-carousel-o>

      </div>
  </div>
</div>
<!-- End Section Occasions -->

<!-- Start Section Offer -->
<div class="offer" id="offer">
  <div class="container">
      <h3 class="text-center">Our Offers</h3>
      <div class="conent-logo2 text-center">
          <img src="../../assets/important.PNG" alt="">
      </div>
      <div class="content">
          <div class="content-one">
              <div class="content-img">
                  <img src="https://via.placeholder.com/150/000" alt="">
                  <div class="content-text-inIMG">
                      <span><img src="../../assets/dolar.png" alt=""></span> 3.7
                  </div>
              </div>
              <p class="one">Strawberry tree entremets</p>
              <p class="two">8 Shares minimum</p>
          </div>
          <div class="content-two">
              <div class="content-img">
                  <img src="https://via.placeholder.com/150" alt="">
                  <div class="content-text-inIMG">
                      <span><img src="../../assets/dolar.png" alt=""></span> 5
                  </div>
              </div>
              <p class="one icon">Wedding Cake</p>
              <p class="two">30 parts minimum</p>
          </div>
          <div class="content-three">
              <div class="content-img">
                  <img src="https://via.placeholder.com/150/DDD" alt="">
                  <div class="content-text-inIMG">
                      <span><img src="../../assets/dolar.png" alt=""></span> 2.5
                  </div>
              </div>
              <p class="one">Muffins delicacies</p>
              <p class="two">sold by 6</p>
          </div>
      </div>
  </div>
</div>
<!-- End Section Offer -->

<!-- Start Section Menu -->
<div class="menu" id="menu">
  <div class="container">
      <h3 class="text-center muneHthree d">Our Menu</h3>
      <div class="conent-logo2 text-center">
          <img src="../../assets/important-gray.PNG" alt="">
      </div>
      <div class="content">
          <div class="tabs text-center">
              <input type="radio" value="cake" id="cake" name="tab" checked/>
              <div class="con">
                  <label for="cake">Cake</label>
              </div>

              <input type="radio" value="cakeDesign" id="cakeDesign" name="tab"/>
              <div class="con">
                  <label for="cakeDesign">Cake design</label>
              </div>

              <input type="radio" value="numberLetter" id="numberLetter" name="tab"/>
              <div class="con">
                  <label for="numberLetter">Number & letter cake</label>
              </div>

              <input type="radio" value="entremets" id="entremets" name="tab"/>
              <div class="con">
                  <label for="entremets">Entremets</label>
              </div>

              <input type="radio" value="pies" id="pies" name="tab"/>
              <div class="con">
                  <label for="pies">pies</label>
              </div>

              <input type="radio" value="caribbean" id="caribbean" name="tab"/>
              <div class="con">
                  <label for="caribbean">Caribbean specialties</label>
              </div>

              <input type="radio" value="theDelicacles" id="theDelicacles" name="tab"/>
              <div class="con">
                  <label for="theDelicacles">The delicacles</label>
              </div>

              <div class="content">
                  <div class="row">

                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/1.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                          <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                          </div>
                      </div>

                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/3.JPG" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/5.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/7.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/8.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="caribbean no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Caribbean specialties/9.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                              <img class="responsive-img"  src="../../assets/menu2.PNG" alt="tab" >
                              <div class="overlay">
                                  <h4>Les Classiques Entremets</h4>
                                  <p>8 Shares minimum</p>
                                  <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                              </div>
                          </div>
                      </div>
                      <div class="theDelicacles no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/the delicacles/1.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="theDelicacles no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/the delicacles/3.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="theDelicacles no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/the delicacles/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="theDelicacles no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/the delicacles/5.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="theDelicacles no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/the delicacles/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/1.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>Apple Pies</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                          </div>
                      </div>
                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/3.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/5.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/7.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/8.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                            <img class="responsive-img" src="../../assets/caKe/cake all/9.jpg" alt="tab" >
                            <div class="overlay">
                                <h4>A4 One Letter Cake</h4>
                                <p>8 Shares minimum</p>
                                <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                            </div>
                          </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                            <img class="responsive-img" src="../../assets/caKe/cake all/10.jpg" alt="tab" >
                            <div class="overlay">
                                <h4>A4 One Letter Cake</h4>
                                <p>8 Shares minimum</p>
                                <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                            </div>
                          </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                            <img class="responsive-img" src="../../assets/caKe/cake all/11.jpg" alt="tab" >
                            <div class="overlay">
                                <h4>A4 One Letter Cake</h4>
                                <p>8 Shares minimum</p>
                                <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                            </div>
                          </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                          <div class="content">
                            <img class="responsive-img" src="../../assets/caKe/cake all/12.jpeg" alt="tab" >
                            <div class="overlay">
                                <h4>A4 One Letter Cake</h4>
                                <p>8 Shares minimum</p>
                                <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                            </div>
                          </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/13.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/14.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/15.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/16.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/17.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cake no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake all/18.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>A4 One Letter Cake</h4>
                              <p>8 Shares minimum</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="numberLetter no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/number & letter cake/1.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>Photography</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="numberLetter no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/number & letter cake/3.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>Photography</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/1.JPG" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/3.JPG" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/5.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="entremets no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/Entremets/7.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>graphic design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/1.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="numberLetter no col-sm-6 col-lg-4">
                          <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/number & letter cake/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>Photography</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                          </div>
                      </div>
                      <div class="cakeDesign no col-sm-6 col-lg-4">
                          <div class="content">
                            <img class="responsive-img" src="../../assets/caKe/cake design/1.jpg" alt="tab" >
                            <div class="overlay">
                                <h4>sample</h4>
                                <p>website design</p>
                                <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                            </div>
                          </div>
                      </div>
                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/3.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/5.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/7.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/8.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/9.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/10.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/11.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/12.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/13.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/14.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="cakeDesign no col-sm-6 col-lg-4">
                        <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/cake design/15.jpeg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>

                      <div class="pies no col-sm-6 col-lg-4">
                          <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/pies/2.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                          </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/4.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/5.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/6.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/7.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/8.JPG" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/9.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/10.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/11.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/12.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                        <div class="content">
                        <img class="responsive-img" src="../../assets/caKe/pies/13.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                        </div>
                      </div>
                      <div class="pies no col-sm-6 col-lg-4">
                          <div class="content">
                          <img class="responsive-img" src="../../assets/caKe/pies/3.jpg" alt="tab" >
                          <div class="overlay">
                              <h4>sample</h4>
                              <p>website design</p>
                              <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>3.5</span><p>Per Share</p></div>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Section Menu -->

<!-- Start Section Drip -->
<div class="drip" id="drip">
  <div class="container">
      <div class="contentents">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="content-top">
                      <h5>Drip cake</h5>
                      <p class="one">Cake without sugar dough personalized</p>
                      <p class="two">10 Parts minimum</p>
                      <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>1</span><p>Per Part</p></div>
                  </div>
              </div>
              <div class="col-lg-8 col-md-6">
                  <div class="content-img">
                      <img src="../../assets/drip.PNG" alt="">
                  </div>
              </div>
          </div>
      </div>

      <div class="content-bottom">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="content">
                      <img class="responsive-img"  src="../../assets/menu2.PNG" alt="tab" >
                      <div class="overlay">
                          <h3>Les Classiques Entremets</h3>
                          <p>8 Shares minimum</p>
                          <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>1</span><p>Per Share</p></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="content">
                      <img class="responsive-img"  src="../../assets/menu2.PNG" alt="tab" >
                      <div class="overlay">
                          <h3>Les Classiques Entremets</h3>
                          <p>8 Shares minimum</p>
                          <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>2.8</span><p>Per Share</p></div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="content">
                      <img class="responsive-img" src="../../assets/menu2.PNG" alt="tab" >
                      <div class="overlay">
                          <h3>Les Classiques Entremets</h3>
                          <p>8 Shares minimum</p>
                          <div class="dolar"><img src="../../assets/dolar2.png" alt=""/><span>80</span><p>Per Share</p></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="button d-flex justify-content-center">
          <button>View more</button>
      </div>
  </div>
</div>
<!-- End Section Drip -->

<!-- Start Section Testimonials -->
<div class="testimonials" id="testimonials">
  <div class="overlay">
      <div class="container-fluid">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" >
                    <img src="https://via.placeholder.com/150" alt="">
                      <p style="width: 122px;
                      margin: auto;
                      text-align: center;">Los Angeles</p>
              </li>

                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active">
                    <img src="https://via.placeholder.com/150" alt="">
                    <p style="width: 122px;
                    margin: auto;
                    text-align: center;">Anaa Grosh</p>
                  </li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                    <img src="https://via.placeholder.com/150" alt="">
                    <p style="width: 122px;
                    margin: auto;
                    text-align: center;">Los Angeles</p>
                  </li>
              </ol>
              <div class="carousel-inner">
                  <h3 class="text-center">Testimonial</h3>
                <div class="carousel-item active">
                  <p class="text-center"><img class="quto" style="transform: translateY(-8px);" src="../../assets/left-quotes-sign.png" alt=""> Thanks so much for the wonderful 18th birthday cake you made for Emily! She loved it ! Didn't just look great, it tasted great too! <img class="quto" style="transform: rotate(185deg) translateY(10px);" src="../../assets/left-quotes-sign.png" alt=""></p>
                </div>
                <div class="carousel-item">
                  <p class="text-center"><img class="quto" style="transform: translateY(-8px);" src="../../assets/left-quotes-sign.png" alt=""> Thanks so much for the wonderful 18th birthday cake you made for Emily! She loved it ! Didn't just look great, it tasted great too! <img class="quto" style="transform: rotate(185deg) translateY(10px);" src="../../assets/left-quotes-sign.png" alt=""></p>
                </div>
                <div class="carousel-item">
                  <p class="text-center"><img class="quto" style="transform: translateY(-8px);" src="../../assets/left-quotes-sign.png" alt=""> Thanks so much for the wonderful 18th birthday cake you made for Emily! She loved it ! Didn't just look great, it tasted great too! <img class="quto" style="transform: rotate(185deg) translateY(10px);" src="../../assets/left-quotes-sign.png" alt=""></p>
              </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
</div>
<!-- End Section Testimonials -->

<!-- Start Section Contact Us -->
<div class="contact" id="contact">
  <div class="container">
      <h2 class="text-center">Contact Us</h2>
      <div class="content">
          <div class="cont">
              <img src="../../assets/icon-contactus/watsapp.png" alt="">
              <span>0664525783</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/facebook.png" alt="">
              <span>www.facebook.com/Chouxkate</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/messenger.png" alt="">
              <span>www.m.me/Chouxkate</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/instagram.png" alt="">
              <span>chouxKate</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/email.png" alt="">
              <span>chouxkake@gmail.com</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/placeholder.png" alt="">
              <span>19 av de mizande 77169 St Siméon.</span>
          </div>
          <div class="cont">
              <img src="../../assets/icon-contactus/clock.png" alt="">
              <span>Private laboratory, withdrawal from 11:00 am to 1:00 pm</span>
          </div>
          <img class="hamborger1" src="../../assets/hamborger.png" alt="">
          <img class="hamborger2" src="../../assets/hamborger.png" alt="">
          <img class="t" src="../../assets/background.png" alt="">
          <img class="chif" src="../../assets/chef.png" alt="">
      </div>


  </div>
</div>
<!-- End Section Contact Us -->
